@import "../../../../colors.scss";

.task-list-container {
  margin-top: 0.4rem;
  .task-container:nth-of-type(1) {
    color: $text-primary-color;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .task-container:last-child {
    margin-bottom: 1rem;
  }

  .task-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: $text-tertiary-color;
    .edit-task-container {
      width: 70%;
      min-width: 100px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .icon {
        margin-top: 0.2rem;
        font-size: 1.5rem;
        padding: 0.2rem;
        cursor: pointer;
      }
    }
    .task-description {
      width: 70%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .task-date {
      width: 15%;
      min-width: 100px;
      display: flex;
      justify-content: center;
      margin-right: 0.2rem;
    }
    .task-edit {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      * {
        cursor: pointer;
      }
    }
  }
  .completed {
    text-decoration: line-through;
  }
}
