.inbox-container {
  width: 100%;
  .search-button {
    cursor: pointer;
    color: white;
    background-color: #dd4b39;
    font-weight: bold;
    border: 0px;
    padding: 7px;
    border-radius: 4px;
    margin: 10px 10px 0 0;
  }
  .clickedButton {
    background-color: #797979;
  }
}
