@import "../../../../main.scss";

.add-task-container {
  margin: 0.4rem 0;
}
.add-task-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  .add-task-btn {
    display: flex;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    color: var(--text-tertiary-color);
    &:hover {
      color: var(--text-primary-color);
    }
    .plus-icon {
      font-size: 2rem;
      margin-right: 0.4rem;
    }
    .add-task-text {
      font-size: 1.6rem;
    }
    @include breakpoint(small) {
      .plus-icon {
        font-size: 1.4rem;
      }
      .add-task-text {
        font-size: 1rem;
      }
    }
    @include breakpoint(medium) {
      .plus-icon {
        font-size: 1.6rem;
      }
      .add-task-text {
        font-size: 1.2rem;
      }
    }
  }
}
