@import "../../main.scss";
.header {
  z-index: 1000; //it will make header always on top
  background: var(--primary);
  color: #fff;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-container {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--text-primary-color);
    text-decoration: none;
    cursor: pointer;
    img {
      height: 3rem;
      margin-top: 0.4rem;
    }
  }
  .search-container {
    margin-top: 0.8rem;
  }
  nav {
    align-self: flex-end;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .theme-toggle {
      margin-left: 1rem;
      position: relative;
      width: 3rem;
      height: 1.6rem;
      background: var(--toggle-bg, #ddd);
      border-radius: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: background 0.3s ease-in-out;

      .toggle-circle {
        width: 1.2rem;
        height: 1.2rem;
        background: var(--toggle-circle, #fff);
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
      }

      &.dark {
        --toggle-bg: #333;
        --toggle-circle: #fd7608;

        .toggle-circle {
          transform: translateX(1.5rem);
        }
      }
    }
  }
  .nav-link {
    height: 100%;
    margin-left: 1rem;
    color: var(--text-primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover {
      color: var(--text-secondary-color);
      text-decoration: underline var(--text-tertiary-color) 0.1rem;
      text-underline-offset: 0.8rem;
    }
  }
  @include breakpoint(small) {
    height: 3rem;
    padding: 0 1rem;
    .logo-container {
      font-size: 0.8rem;
      img {
        height: 2rem;
      }
    }
    nav {
      .theme-toggle {
        width: 2rem;
        height: 1rem;
        margin-left: 0.4rem;
        .toggle-circle {
          width: 0.8rem;
          height: 0.8rem;
        }
        &.dark {
          .toggle-circle {
            transform: translateX(1rem);
          }
        }
      }
    }
    .nav-link {
      font-size: 0.8rem;
    }
  }
  @include breakpoint(medium) {
    height: 3.6rem;
    padding: 0 1.5rem;
    .logo-container {
      font-size: 1.2rem;
      img {
        height: 2.5rem;
      }
    }
    nav {
      .theme-toggle {
        width: 2.4rem;
        height: 1.2rem;
        margin-left: 0.5rem;
        .toggle-circle {
          width: 0.8rem;
          height: 0.8rem;
        }
        &.dark {
          .toggle-circle {
            transform: translateX(1.3rem);
          }
        }
      }
    }
    .nav-link {
      font-size: 1rem;
    }
  }
}
