.header {
  background-color: #333;
  color: #fff;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 70%;
  }
  nav {
    align-self: flex-end;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link {
    height: 100%;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link:hover {
    background-color: #555;
  }
}
