@import "../../../../main.scss";

.side-nav-container {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  .user-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heading {
      color: var(--text-secondary-color);
      font-size: 1.2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      .menu-icon {
        margin-right: 0.8rem;
        cursor: pointer;
      }
    }
    .selected-user-name {
      display: none;
      color: var(--text-secondary-color);
      font-size: 1.2rem;
      font-weight: bold;
    }
    .add-user-btn {
      cursor: pointer;
      color: var(--text-secondary-color);
      border: none;
      background-color: var(--primary);
      font-size: 1.2rem;
      margin-right: 1rem;
      font-weight: bold;
      &:hover {
        color: var(--tertiary);
      }
    }
  }
  .sm-user-heading {
    @extend .user-heading;
    display: none;
    background-color: var(--primary);
    position: fixed;
    height: 2.4rem;
    top: 3rem;
    left: 0;
    padding: 0 1.6rem;
    z-index: 1000;
  }

  .user-list {
    .user {
      width: 100%;
      padding: 1rem;
      color: var(--text-primary-color);
      font-size: 1rem;
      font-weight: bold;
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;
      * {
        cursor: pointer;
      }
      .user-name {
        flex: 1;
      }
    }
    .selected-user {
      background-color: var(--primary-light);
      color: var(--text-tertiary-color);
    }
  }
  @include breakpoint(small) {
    .user-heading {
      display: none;
      .selected-user-name {
        display: block;
      }
    }
    .sm-user-heading {
      display: flex;
      width: 100%;
    }
    .user-list {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .user-heading {
      display: none;
      .selected-user-name {
        display: block;
      }
    }
    .sm-user-heading {
      display: flex;
      width: 100%;
      height: 2.6rem;
      top: 3.6rem;
      padding: 0 2.4rem;
    }
    .user-list {
      display: none;
    }
  }
}
