.date-container {
  input {
    padding: 7px;
    font-size: 1rem;
    border: 1px solid #dd4b39;
    border-radius: 5px;
    margin-top: 10px;
  }
  .search-icon {
    padding-left: 25px;
    background: url("../../../../assets/images/search-interface-symbol.png")
      no-repeat left;
    background-size: 15px;
    background-position-x: 5px;
  }
}
