.add-task-container {
  padding-bottom: 10px;
}
.add-task-container {
  .add-task-btn {
    font-weight: bolder;
    cursor: pointer;
    .plus-icon {
      font-size: 1.5rem;
      color: red;
      padding-right: 10px;
    }
    .add-task-text {
      font-size: 1rem;
      color: #757474;
    }
  }
}
